.season-display {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.season-display.winter i {
    color: whitesmoke;
}

.season-display.summer i {
    color: red;
}

.winter {
    color: black;
    background-color: darkslategray;
}

.summer {
    color: yellow;
    background-color: orange;
}






